body {
    background-color: rgb(35, 35, 35);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 35px;
}
p { 
    margin-top: 35px;
    margin-bottom: 25px;
}
img {
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
}
a {
    color: white;
    text-decoration: none;
}